# Laravel specific
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE / Editor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies
/node_modules
/vendor

# Build / public assets
/public/build
/public/hot
/public/storage

# Storage
/storage/*.key
/storage/pail
/storage/framework/views/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Auth / misc
/auth.json
*.db
*.sqlite
*.sqlite3